trix-toolbar .button_group button.ins::before {
   background-image: asset-data-url("underline.png"); }
trix-toolbar .button_group button.grey::before {
   background-image: asset-data-url("grey.png"); }
trix-toolbar .button_group button.heading::before {
   background-image: asset-data-url("format.png"); }



grey {
   color:grey;
}

/** css for drop-down menu heading */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown button {
    background: #FF6223;
    color: #FFFFFF;
    border: none;
    margin: 0;
}
.dropdown .dropdown-menu button {
     width: 100%;
     font-size: 1em;
     background: #DCDCDC;
     color: #000000;
}
/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}
.dropdown button:hover {
    background: #BBBBBB;
}

.button_group .heading {
     position: relative;
     width: 80px; 
     background: #fff;
     color: #000000;
    }

trix-toolbar .button_group {
    overflow: visible;
}
/** end of css for drop-down menu heading */